<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @perfil.usuario %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @perfil.foto %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @perfil.telefone %>
</p>

<p>
  <strong>Datanasc:</strong>
  <%= @perfil.dataNasc %>
</p>

<%= link_to 'Edit', edit_perfil_path(@perfil) %> |
<%= link_to 'Back', perfils_path %>
