<h1>Novo Lançamento Contábil</h1>
<hr><br>

<%= form_for :lancamento_contabil, url:lancamentos_contabeis_path(@lancamento_contabil) do |lc| %>

	<% if @lancamento_contabil.errors.any? %>
		<div id="error_explanation">
			<h2>
				<% pluralize(@lancamento_contabil.errors.count, "error") %> 
				proibiu este lançamento de ser salvo:
			</h2>
			<ul>
				<% @lancamento_contabil.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<%= lc.label 'Título' %><br>
		<%= lc.text_field :titulo %>
	</p>
	<p>
		<%= lc.label 'Valor' %><br>
		<%= lc.text_field :valor %>

		<%= lc.radio_button :tipo, 0 %>Débito
  		<%= lc.radio_button :tipo, 1, :checked => true %>Crédito	
	</p>
	<p>
		<%= lc.label 'Descrição' %><br>
		<%= lc.text_area :descricao %><br>
	</p>

	<p><%= lc.submit :value => 'Salvar'%></p>
<% end %>

<%= link_to 'Retornar', lancamentos_contabeis_path %>
